* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(197, 197, 252), #fff);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; 

}
.app-container {
  background: linear-gradient(to right, #000000, #434343); /* Black to dark gray gradient */
  min-height: 100vh;
  color: white; /* Optional: Adjust text color for better contrast */
}
.form-field {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
}

.header {
  color: #2AABEE;
  margin-bottom: 30px;
}